.cliente-dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1df8f;
    font-family: Arial, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

h1 {
    font-size: 56px;
    color: #333;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dashboard-button {
    background-color: #b19103;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-button i {
    font-size: 36px;
    margin-bottom: 10px;
}

.dashboard-button:hover {
    background-color: #000000;
}
