
.nav-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(87, 62, 3);
  text-align: center;
margin-top: 6.5%;
  margin-left: 15%;
}


.nav-line {
  border: 0;
  height: 2px;
  background: rgb(87, 62, 3);
  margin-bottom: 15px; 
  margin-left: 30%;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topo {
  background-color: rgb(214, 198, 153);
  color: rgb(138, 104, 11);
  padding: 1px 0;
  margin-top: -0%;
  margin-left: -2%;
  margin-right: -0%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  width: 250px;
  margin-top: -8%;
}

.navegacao {
  width: 100%;
}

.navegacao ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-top: 0;
  justify-content: center; 
  margin-left: 15%;
}

.navegacao ul li a {
  background-color: rgb(227, 227, 227);
  color: rgb(87, 62, 3);
  text-decoration: none;
  font-size: 25px;
}

.navegacao ul li a:hover {
  text-decoration: underline;
  background-color: black;
  color: white;
}

.botoes {
  display: flex;
  gap: 10px;
}

.botao-login, .botao-reserva {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.botao-login:hover, .botao-reserva:hover {
  background-color: #0056b3;
}
